body{
font-family: 'Lobster', cursive;
font-size: 20px;
background-color: #FAEBD7;
}

.carousel-item {
  height: 420px;
}

.navbar .nav-link {
  font-size: 16px;
  padding-left: 1em !important;
  padding-right: 1em !important;
}

.navbar .nav-item.active {
  border-left: #444 3px solid;
}

.mynav{
  padding-left: 260px;
}

#smnav{
  padding-right: 100px;
}


.carousel-image-1 {
  background: url("../img/financier2.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.carousel-image-2 {
  background: url("../img/image2.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.carousel-image-3 {
  background:url('../img/vancouver2.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#myCarousel{
  width:100% !important;
  overflow: hidden !important;
  right:0 !important;
}


#h1header{
  padding-top: 50px;
}

#h1slider{
  padding-top: 200px;
}

#h1tasty{
  padding-top: 200px;
  color: black;
}

#ptasty{
  color: black;
}

#vancouver{
  color: navajowhite;
  padding-top: 200px;
}

#pvancouver{
  color: navajowhite;
}

#mybtn{
  background-color: #A9A9A9;
  color: black;
  border: 2px solid #e7e7e7;
}

#mybtn:hover {
  background-color: #e7e7e7;
}

#mybtn2{
  background-color: navajowhite;
  color: black;
  border: 2px solid #FAEBD7;
}

#mybtn2:hover {
  background-color: #FAEBD7;
}

#mybtn3{
  background-color: white;
  color: black;
  border: 2px solid #FAEBD7;
}

#mybtn3:hover {
  background-color: #FAEBD7;
}

.fa {
  font-size: 55px; }

#home-heading {
  position: relative;
  min-height: 200px;
  background: url("../img/image2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}


.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#video-play {
  position: relative;
  min-height: 200px;
  background: url("../img/image2.jpg");
  background-attachment: fixed;
  text-align: center;
  color: #fff; }
  #video-play a {
    color: #fff; }

#main-footer {
  background: #000;
  color: #fff;
}

#page-header{
  height: 250px;
  background: url("../img/image2.jpg");
  background-position: 0px -900px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

#img-organic{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.log{
  width: 200px;
}

.log:hover {
  background-color: black;
}

.alert {
  text-align: center;
  padding: 10px;
  background: #79c879;
  color: #fff;
  margin-bottom: 10px;
  display: none;
}


@media screen and (min-width: 480px) {

    #about {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media screen and (min-width: 768px) {
  #contact-margin {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}


#card-contact{
  background-color: navajowhite;
}

.form-control{
  background-color: #FAEBD7;
}

.button-submit{
  font-family: 'Lobster', cursive;
  background-color: #FAEBD7;
}

#card-product{
  background-color: navajowhite;
}

.form-control{
  font-family: 'Lobster', cursive;
}

.page-boxes{
  background: url("../img/image2.jpg");
  background-size: cover;
  background-position: 0px;
  background-attachment: fixed;
  color: #fff;
  padding-top: 50px;
}

.financier3{
  border-radius: 40%;
}

.card {
  background-color: rgba(245, 245, 245, 0);
}

#ingredient{
  font-size: 13px;
}

#copyright{
  font-size: 16px;
}
#moi{
  font-size:14px;
}




